.container{
    height: 15px;
    text-align: center;
}

.container h1 {
    font-size: 20px;
}

.container input {
    right: 3%;
}


.recuadro_plantilla{
    width: 500px;
    height: 450px;
    background-color: #E49A2B;
    position: relative;
    left: 25%;
}

.titulo_recuadro{
    padding-left: 3%;
    font-size: 25px;
    color: white ;
    position: absolute;
    width: 70%;
    float: left;
}

.Posicion{
    position: absolute;
    left:32%;
}

#Crear{
    position: absolute;
    bottom: 3%;
    left: 42%;
    background-color: #671313;
    color:white;
    height: 35px;
    width: 100px;
    border:none;
}