<div class="container">
  <div class="row">
    <div class="col-sm 4">
      <h1>¡Bienvenido Empleado X!</h1>
        <img id="imagenZonaCrear" src="https://media.jetcamp.com/228993.png" alt="imagenzona">
    </div>

    <div class="col-sm 8">

        <div class="container" id="contenedor">
          <div class="row">
            Nombre Zona
            <br>
            <input [(ngModel)]="NombreZona" type="text" class="form-control" name="Crear Zona" placeholder="Nombre de Zona">
            Especies
            <br>
            <input [(ngModel)]="Especies"  type="text" class="form-control" name="Especies" placeholder="Especies">
            Extension
            <input [(ngModel)]="Extension"type="text" class="form-control" name="Extension" placeholder="Extension">

        </div>
        <div class="row">
          <button id="Crear" class="btn btn-warning" (click)="guardar()">{{dataService.zonaActual ? 'Editar' : 'Guardar'}}</button>
        </div>

        </div>



    </div>
    </div>
</div>



