<h1>¡Bienvenido Empleado X!</h1>
  
<div class="recuadro_plantilla">
    <h1 class="titulo_recuadro">Crear Zona</h1>
    <br> <br> <br> <br>
    <input [(ngModel)]="Id_Zona" class="Posicion" type="numeric" name="Id Zona" placeholder="Id Zona">
    <br> <br>
    <input [(ngModel)]="NombreZona" class="Posicion" type="text" name="Nombre de Zona" placeholder="Nombre de Zona">
    <br> <br>
    <input [(ngModel)]="Extension"class="Posicion" type="numeric" name="Extension" placeholder="Extension">
    <button id="Crear">Crear</button>

</div>
