.container{
    text-align: center;

}

.container h1 {
    font-size: 15px;
}

// .container input {
//     right: 2%;
//     width: 2%;
//   }


#contenedor{

    background-color: #E49A2B;
    margin: 5%;
    font-size: 18px;
}

.titulo_recuadro{
    padding-left: 2%;

    font-size: 25px;
    color: white ;

    right: 20%;
    float: left;
}



#Crear{

    bottom: 3%;
    // left: 42%;
    background-color: #671313;
    color:white;

    border:none;
}

#imagenZonaCrear{
  max-width: 80%;
  align-items: left;
}
