body{
  background-color: white;
}

#image-habitat{
  width: 100%;
  text-align: center;
  justify-content: center;
}

.container{
  background-color:#E49A2B ;
  height: fit-content;
  width: fit-content;
}
