<button type="button" class="btn btn-success" (click)="agregar()">Agregar</button>
<br>
  <table id="tablaValores" class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <!--<th scope="col">Estado</th>-->
        <th scope="col">Fecha inicio</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Fecha final</th>
        <th scope="col">Hora final</th>
        <th scope="col">Longitud</th>
        <th scope="col">Visitantes</th>
        <th scope="col">Guia</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody><tr *ngFor ="let itinerario of dataService.itinerario; index as i">
      <th scope="row">itinerario.codigo</th>
      <!--<td>{{dato.Estado}}</td>-->
      <td>itinerario.fecha inicio</td>
      <td>itinerario.Hora inicio</td>
      <td>itinerario.Fecha final</td>
      <td>itinerario.Hora final</td>
      <td>itinerario.Longitud</td>
      <td>itinerario.Visitantes</td>
      <td>itinerario.guia</td>
      <td>
          <button type="submit" class="btn btn-warning ml-2" (click)="editar(i,itinerario)">Editar</button>
          <button type="submit" class="btn btn-danger ml-2" (click)="eliminar(i)">Eliminar</button>
      </td>
  </tr></tbody>
  </table>
  
