.container {
  display: flex;
  justify-content: center;
  align-items: center;
  left:20%;
  height: 100vh;
}

.recuadro_plantilla {
  background-color: #E6F1F0;
  padding: 20px;
  border: 1px solid #A7D6D3;
  border-radius: 5px;

}

h1 {
  color: #2E8B57;
  font-size: 24px;
  margin-bottom: 20px;
}

input[type="text"] {
  background-color: #DCF3EE;
  border: 1px solid #A7D6D3;
  padding: 5px;
  border-radius: 3px;
  width: 200px;
  margin-bottom: 10px;
}

button {
  background-color: #2E8B57;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #257B4E;
}
.custom-background {
  background-image: url('https://img.freepik.com/vector-gratis/conjunto-logotipo-zoologico_1284-5234.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
