<div class="container custom-background">
  <div class="container">
    <div class="recuadro_plantilla">
      <h1>¡AGREGAR ITINERARIO!</h1>

      <h1 class="titulo_recuadro">{{dataService.itinerarioActual ? 'Editar' : 'Crear'}} Itinerario</h1>

      <div>
        <label for="codigo" style="color: #2E8B57;">Codigo:</label>
        <input [(ngModel)]="codigo" type="text" name="codigo" id="codigo" placeholder="Codigo">
      </div>

      <div>
        <label for="fecha_inicio" style="color: #2E8B57;">Fecha inicio:</label>
        <input [(ngModel)]="fecha_inicio" type="text" name="fecha_inicio" id="fecha_inicio" placeholder="Fecha inicio">
      </div>

      <div>
        <label for="hora_inicio" style="color: #2E8B57;">Hora inicio:</label>
        <input [(ngModel)]="hora_inicio" type="text" name="hora_inicio" id="hora_inicio" placeholder="Hora inicio">
      </div>

      <div>
        <label for="fecha_final" style="color: #2E8B57;">Fecha final:</label>
        <input [(ngModel)]="fecha_final" type="text" name="fecha_final" id="fecha_final" placeholder="Fecha final">
      </div>

      <div>
        <label for="longitud" style="color: #2E8B57;">Longitud:</label>
        <input [(ngModel)]="longitud" type="text" name="longitud" id="longitud" placeholder="Longitud">
      </div>

      <div>
        <label for="visitantes" style="color: #2E8B57;">Visitantes:</label>
        <input [(ngModel)]="visitantes" type="text" name="visitantes" id="visitantes" placeholder="Visitantes">
      </div>

      <div>
        <label for="guia" style="color: #2E8B57;">Guia:</label>
        <input [(ngModel)]="guia" type="text" name="guia" id="guia" placeholder="Guia">
      </div>

      <br>

      <button id="Crear" (click)="guardar()">{{dataService.itinerarioActual ? 'Editar' : 'Guardar'}}</button>
    </div>
  </div>

</div>
